<div class="splash-section">
  <h1 class="spash-title">Budget --track</h1>
  <div class="splash-buttons">
    <%= link_to "Log in", new_user_session_path, class: 'log-in splash-links' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'sign-up splash-links' %>
  </div>
</div>
