@import 'font-awesome';
@import 'forms';
@import 'fonts';
@import 'splash_screen';

* {
  padding: 0;
  margin: 0;
  font-family: Proxima Nova Light, sans-serif;
}

h1 {
  font-family: Proxima Nova Bold, sans-serif, arial;
}

a {
  text-decoration: none;
  color: white;
}

.notice,
.alert {
  position: fixed;
  top: 93%;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}
