@font-face {
  font-family: Proxima Nova Bold;
  src: font-url('FontsFree-Net-Proxima-Nova-Bold.otf');
}

@font-face {
  font-family: Proxima Nova Light;
  src: font-url('FontsFree-Net-FontsFree-Net-Proxima-Nova-2.ttf');
}
