@font-face {
  font-family: Proxima Nova Bold;
  /* stylelint-disable-next-line */
  src: font-url('FontsFree-Net-Proxima-Nova-Bold.otf');
}

@font-face {
  font-family: Proxima Nova Light;
  /* stylelint-disable-next-line */
  src: font-url('Proxima_Nova_Light.ttf');
}
