.login-bar {
  display: flex;
  background-color: #3778c2;
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.login-title {
  font-family: Proxima Nova Bold;
}

.submit {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
}

.inputs {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(184, 184, 184);
}

.splash-section > .new_user {
  width: 100%;
  margin-top: 20px;
  max-width: 425px;
}

.forgot-password {
  margin-top: 20px;
  color:  #828584;
}
