.add-bottom-form {
  margin-top: auto;
  background-color: #56a323;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.add-bottom-form-link {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #fcfbfa;
  padding: 10px 60px;
  border-radius: 5px;
}